<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/public/login/fonts/icomoon/style.css"/>

    <link rel="stylesheet" th:href="@{/public/login/css/owl.carousel.min.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/public/login/css/bootstrap.min.css"/>

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/public/login/css/style.css"/>

    <h1>CliniqueKissi</h1>
</head>
<body>


<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('images/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>BIENVENU-A-KISSI <strong>Colorlib</strong></h3>
                    <!--                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>-->
                    <form th:action="@{/login}" method="POST">
                        <div class="form-group first">
                            <label for="username">Username</label>
                            <input type="email" class="form-control" id="username">
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>

                        <!--                        <form name="logout" th:action="@{/logout}" method="POST">-->
                        <!--                            <input  type="submit" value="Deconnexion"/>-->
                        <!--                        </form>-->

                        <div class="d-flex mb-5 align-items-center">
                            <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                                <input type="checkbox" checked="checked"/>
                                <div class="control__indicator"></div>
                            </label>
                            <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                        </div>

                        <div class="container-login100-form-btn">

                            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login"
                                    type="Submit" th:text="Login"></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/public/login/jquery-3.3.1.min.js"></script>
<script th:src="@{/public/login/js/popper.min.js"></script>
<script th:src="@{/public/login/js/bootstrap.min.js"></script>
<script th:src="@{/public/login/js/main.js"></script>
</body>

</html>