<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <h2>Register</h2>-->
<!--</head>-->
<!--<body>-->
<!--<div class="row justify-content-center">-->
<!--    <div class="col col-md-5 text-center">-->
<!--        <form method="post" th:action="@{/register}" th:object="${user}">-->
<!--            <h1 class="display-4">Sign up</h1>-->
<!--            <div class="form-row py-1">-->
<!--                <label>Email</label>-->
<!--                <input type="text" class="form-control" name="email" required  th:value="*{email}"/>-->

<!--            </div>-->
<!--            <div class="form-row py-1">-->
<!--                <label>Firstname</label>-->
<!--                <input type="text" class="form-control" name="firstname" required th:value="*{firstname}"/>-->
<!--            </div>-->
<!--            <div class="form-row py-1">-->
<!--                <label>Lastname</label>-->
<!--                <input type="text" class="form-control" name="lastname" required th:value="*{lastname}"/>-->

<!--            </div>-->
<!--            <div class="form-row py-1">-->
<!--                <label>Password</label>-->
<!--                <input type="password" class="form-control" name="password" required  th:value="*{password}"/>-->

<!--            </div>-->

<!--            <div class="form-row py-1">-->
<!--                <button type="submit" class="btn btn-info btn-block">-->
<!--                    Register-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--        <p class="py-2">Already have an account? <a href="/login">Sign-In</a></p>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->